<app-tabset>

  <tab [id]="1">
    <ng-template appTabTitle>
      <div> qwe </div>
    </ng-template>
    <ng-template appTabContent>
      <div>Content 1</div>
      <div>Content 1</div>
      <div>Content 1</div>
      <div>Content 1</div>
    </ng-template>
  </tab>
  <tab [id]="2">
    <ng-template appTabTitle>
      <div> qwe </div>
    </ng-template>
    <ng-template appTabContent>
      <div>Content 2</div>
    </ng-template>
  </tab>

</app-tabset>

<main>
  <section><app-advert></app-advert></section>
  <section><app-advert></app-advert></section>
  <section><app-advert></app-advert></section>
  <section><app-advert></app-advert></section>
  <section><app-advert></app-advert></section>
  <section><app-advert></app-advert></section>
  <section><app-advert></app-advert></section>
  <section><app-advert></app-advert></section>
  <section><app-advert></app-advert></section>
  <section><app-advert></app-advert></section>
</main>
