<app-tabset>

  <tab [id]="1">
    <ng-template appTabTitle>
    </ng-template>
    <ng-template appTabContent>
      <div>Content 1</div>
    </ng-template>
  </tab>
  <tab [id]="2">
    <ng-template appTabTitle>
    </ng-template>
    <ng-template appTabContent>
      <div>Content 2</div>
    </ng-template>
  </tab>

</app-tabset>

<main>
  <section *ngFor="let item of viewListBulletin"><app-advert></app-advert></section>
</main>

<c-paginator (pagedItemsChange)="changeViewList($event)" [listItems]="allItems"></c-paginator>
