<div class="profile-container">

  <figure>
    <img alt="" src="../../../../assets/images/LOGO.png">
  </figure>

  <h2>Добро пожаловать!</h2>

  <div class="group">
    <label>Логин или Почта</label>
    <input type="text">
  </div>

  <div class="group">
    <label>Пароль</label>
    <input type="password">
  </div>

  <div class="btn-container">
    <button type="button" class="link-btn" [routerLink]="['/signup']">Регистрация</button>
    <button type="button" class="active-btn">Войти</button>
  </div>

</div>
