<div class="profile-container">

  <figure>
    <img alt="" src="../../../../assets/images/LOGO.png">
  </figure>

  <h2>Добро пожаловать!</h2>

  <div class="group" [ngClass]="checkedControlValidations(loginControl) ? 'error' : ''">
    <label>Логин или Почта</label>
    <input type="text" [formControl]="loginControl">
    <span *ngIf="checkedControlValidations(loginControl)">
      {{loginControl?.errors.messageKey}}
    </span>
  </div>

  <div class="group" [ngClass]="checkedControlValidations(passwordControl) ? 'error' : ''">
    <label>Пароль</label>
    <input type="password" [formControl]="passwordControl">
    <span *ngIf="checkedControlValidations(passwordControl)">
      {{passwordControl?.errors.messageKey}}
    </span>
  </div>

  <div class="btn-container">
    <button type="button" class="link-btn" (click)="toSignup()" [routerLink]="['authenticate', 'signup']">Регистрация</button>
    <button type="button" class="active-btn" (click)="login()">Войти</button>
  </div>



</div>
