/* Color & Styling */
$blue: #1976d2;
$blue2: #5276cf;
$white: #fff;
$darkgray: #808080;
$lightdarkgray: #9ea2af;
$lightgray: #eaebef;
$greenhover: #ADFF2F;
$red: #ff0036;
$redhover: #fa4248;
$black: #000;
