/* Color & Styling */
$blue: #1976d2;
$blue2: #5276cf;
$white: #fff;
$darkgray: #808080;
$greenhover: #ADFF2F;
$lightgray: #eaebef;
$red: #f00;
$black: #000;

$green: #a0c83c;
$gray: #e6e6e6;
$gray2: #cececf;
$gray3: #f5f5f5;
$black2: #37393d;
$active: $green;
