<header>

  <div class="logo">
    <figure>
      <img alt="" src="../assets/images/LOGO.png">
    </figure>
    <label class="advert">Adverts</label>
    <label class="fresh">Fresh</label>
  </div>

  <nav>
    <ul>
      <li><a routerLinkActive="active" [routerLink]="['/adverts']"> Объявления </a></li>
      <li><a routerLinkActive="active" [routerLink]="['/users']"> Пользователи </a></li>
    </ul>
  </nav>

  <app-details-menu [userName]="userName" [isLoggedUser]="isLoggedUser"></app-details-menu>

</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>© AL 2019</footer>
