<main>
  <section><app-user-info></app-user-info></section>
  <section><app-user-info></app-user-info></section>
  <section><app-user-info></app-user-info></section>
  <section><app-user-info></app-user-info></section>
  <section><app-user-info></app-user-info></section>
  <section><app-user-info></app-user-info></section>
  <section><app-user-info></app-user-info></section>
  <section><app-user-info></app-user-info></section>
  <section><app-user-info></app-user-info></section>
  <section><app-user-info></app-user-info></section>
  <section><app-user-info></app-user-info></section>
  <section><app-user-info></app-user-info></section>
  <section><app-user-info></app-user-info></section>
  <section><app-user-info></app-user-info></section>
  <section><app-user-info></app-user-info></section>
  <section><app-user-info></app-user-info></section>
  <section><app-user-info></app-user-info></section>
  <section><app-user-info></app-user-info></section>
  <section><app-user-info></app-user-info></section>
  <section><app-user-info></app-user-info></section>
  <section><app-user-info></app-user-info></section>
  <section><app-user-info></app-user-info></section>
  <section><app-user-info></app-user-info></section>
</main>
