@import "../../../../styles/mixins";
@import "../../../../styles/colors";

:host {
  /* Display & Box Model */
  width: 100%;
  height: auto;
  @include flex-center;

  > ul.pagination {
    /* Display & Box Model */
    padding-left: 0;
    margin-bottom: 1rem;

    /* Color & Styling */
    border-radius: .33rem;

    > li {
      /* Display & Box Model */
      display: inline;

      &.active {
        a {
          /* Transformation */
          transform: scale(1.2);

          /* Positioning */
          z-index: 1;

          /* Color & Styling */
          background-color: $greenhover;
          border-radius: .5rem;
        }
      }

      &.disabled {
        a {
          /* Other */
          pointer-events: none;

          /* Color & Styling */
          opacity: .5;
        }
      }

      &:not(.active):hover > a {
        /* Color & Styling */
        background-color: #eee;
        border-color: #ddd;
        color: #23527c;
        cursor: pointer;
      }

      > a {
        /* Display & Box Model */
        padding: 6px 12px;
        border: 1px solid #ddd;

        /* Text */
        text-decoration: none;

        /* Color & Styling */
        color: #337ab7;
        background-color: #fff;
      }
    }
  }
}
