<div class="profile-container">

  <figure>
    <img alt="" src="../../../../assets/images/LOGO.png">
  </figure>

  <h2>Добро пожаловать!</h2>

  <div class="input-container" [formGroup]="form">

    <div class="group" [ngClass]="checkedControlValidations('login') || form.get('login').getError('forbiddenLogin') ? 'error' : ''">
      <label>Логин</label>
      <input type="text"
             readonly
             onfocus="this.removeAttribute('readonly')"
             placeholder="Например: Lyavon"
             forbiddenLogin
             inputRestrict="^[A-Za-zА0-9\.-]*$"
             formControlName="login">
      <span *ngIf="checkedControlValidations('login')">
        {{form.controls.login?.errors.messageKey}}
      </span>
      <span class="error" *ngIf="form.get('login').touched  && form.get('login').getError('forbiddenLogin')">
        Данный логин занят.
      </span>
    </div>

    <div class="group" [ngClass]="checkedControlValidations('firstName') ? 'error' : ''">
      <label>Имя</label>
      <input type="text"
             readonly
             onfocus="this.removeAttribute('readonly')"
             placeholder="Например: Иван"
             inputRestrict="^[A-Za-zА-Яа-я\s\-]*$"
             formControlName="firstName">
      <span *ngIf="checkedControlValidations('firstName')">
        {{form.controls.firstName?.errors.messageKey}}
      </span>
    </div>

    <div class="group" [ngClass]="checkedControlValidations('lastName') ? 'error' : ''">
      <label>Фамилия</label>
      <input type="text"
             readonly
             onfocus="this.removeAttribute('readonly')"
             placeholder="Например: Иванов"
             inputRestrict="^[A-Za-zА-Яа-я]*$"
             formControlName="lastName">
      <span *ngIf="checkedControlValidations('lastName')">
        {{form.controls.lastName?.errors.messageKey}}
      </span>
    </div>

    <div class="group" [ngClass]="checkedControlValidations('phone') ? 'error' : ''">
      <label>Телефон</label>
      <input type="text"
             readonly
             onfocus="this.removeAttribute('readonly')"
             placeholder="Формат: +37529-2XX-XX-XX"
             formControlName="phone">
      <span *ngIf="checkedControlValidations('phone')">
        {{form.controls.phone?.errors.messageKey}}
      </span>
    </div>

    <div class="group"
         [ngClass]="checkedControlValidations('email') || form.get('login').getError('forbiddenEmail') ? 'error' : ''">
      <label>Email</label>
      <input type="text"
             readonly
             onfocus="this.removeAttribute('readonly')"
             forbiddenEmail
             placeholder="Например: Levonyuk.p5@gmail.com"
             formControlName="email">
      <span *ngIf="checkedControlValidations('email')">
        {{form.controls.email?.errors.messageKey}}
      </span>
      <span class="error" *ngIf="form.get('email').touched  && form.get('email').getError('forbiddenEmail')">
        Данный email занят.
      </span>
    </div>

    <div class="group" [ngClass]="checkedControlValidations('confirmEmail') ? 'error' : ''">
      <label>Подтвердить email</label>
      <input type="text"
             readonly
             onfocus="this.removeAttribute('readonly')"
             placeholder="Например: Levonyuk.p5@gmail.com"
             formControlName="confirmEmail">
      <span *ngIf="checkedControlValidations('confirmEmail')">
        {{form.controls.confirmEmail?.errors.messageKey}}
      </span>
    </div>

    <div class="group" [ngClass]="checkedControlValidations('password') ? 'error' : ''">
      <label>Пароль</label>
      <input type="password"
             readonly
             onfocus="this.removeAttribute('readonly')"
             placeholder="Должен содержать не менее 6 символов"
             formControlName="password">
      <span *ngIf="checkedControlValidations('password')">
        {{form.get.password?.errors.messageKey}}
      </span>
    </div>

    <div class="group" [ngClass]="checkedControlValidations('confirmPassword') ? 'error' : ''">
      <label>Подтвердить пароль</label>
      <input type="password"
             readonly
             onfocus="this.removeAttribute('readonly')"
             placeholder="Должен содержать не менее 6 символов"
             formControlName="confirmPassword">
      <span *ngIf="checkedControlValidations('confirmPassword')">
      {{form.get.confirmPassword?.errors.messageKey}}
      </span>
    </div>

  </div>

  <div class="btn-container">
    <button type="button" class="link-btn"  (click)="toSignin()" [routerLink]="['/serviceLogin']">Войти</button>
    <button class="active-btn" (click)="action()">Регистрация</button>
  </div>

</div>
